<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пациенты</title>
</head>
<body>
<div th:insert="/fragments/header-footer :: header"></div>

<h2>Пациенты</h2>

<form action="/patient/add" method="post" th:object="${patient}">
    <select name="passport">
        <div th:each="el : ${passports}">
            <option th:text="${el.passSeria} + ' ' + ${el.passNum}"></option>
        </div>
    </select>
    <br>
    <select name="oms">
        <div th:each="el : ${oms}">
            <option th:text="${el.omsNum}"></option>
        </div>
    </select>
    <br>
    <button type="submit" class="btn btn-success" style="margin-left: 10px">Добавить</button>
</form>

<table class="table table-striped">
    <tr>
        <!--        <th>ID</th>-->
        <th>ФИО</th>
        <th>№ ОМС</th>
        <th colspan="1">ДЕЙСТВИЯ</th>
    </tr>
    <div th:each="el : ${patients}">
        <tr>
            <!--            <td th:text="${el.id}"></td>-->
            <td th:text="${el.passport.secondName} + ' ' + ${el.passport.firstName}"></td>
            <td th:text="${el.oms.omsNum}"></td>
<!--            <td><a type="submit" class="btn btn-warning" th:href="'/patient/' + ${el.id} + '/edit'">Изменить</a></td>-->
            <td><a type="submit" class="btn btn-danger"
                   th:href="'/patient/' + ${el.id} + '/remove'">Удалить</a></td>
        </tr>
    </div>
</table>

<div th:insert="/fragments/header-footer :: footer"></div>
</body>
</html>