<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Регистрация</title>
</head>
<body>
<div th:insert="/fragments/header-footer :: header"></div>
<div class="card text-center" style="margin: 100px 40%">
    <div th:if="${#messages}" >
        <p th:text="${message}" class="alert alert-warning"></p>
    </div>
    <form th:action="@{/registration}" method="post">
        <div><label> Логин: <input type="text" name="username"/> </label></div><br>
        <div><label> Пароль: <input type="password" name="password"/> </label></div><br>

        <div><button type="submit" class="btn btn-primary" style="color: white">
            Зарегистрироваться
        </button></div>
    </form>
</div>
<div th:insert="/fragments/header-footer :: footer"></div>
</body>
</html>